.light {
    background-color: #f8f9fa; /* Light background */
    color: #212529; /* Dark text */
  }
  
  .dark {
    background-color: #343a40; /* Dark background */
    color: #f8f9fa; /* Light text */
  }
  
  .dark .card {
    background-color: #495057; /* Dark card background */
    color: #f8f9fa; /* Light text */
  }
  
  .dark .list-group-item {
    background-color: #495057; /* Dark list item background */
    color: #f8f9fa; /* Light text */
  }
  